<div class="card mb-3">
  <div class="card-body">

    <h4>Nav links with full page loads</h4>

    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page1">Link to page 1</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page2">Link to page 2</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page3">Link to page 3</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page3#hash">Link to page 3 + #hash</a></li>
    </ul>

    <h4>Nav links with fragment updates</h4>

    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page1" up-follow>Link to page 1</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page2" up-follow>Link to page 2</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page3" up-follow>Link to page 3</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page3#hash">Link to page 3 + #hash</a></li>
    </ul>

    <h4>Non-nav links</h4>

    <ul class="nav nav-pulls">
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page1" up-follow>Link to page 1</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page2" up-follow>Link to page 2</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page3" up-follow>Link to page 3</a></li>
      <li class="nav-item"><a class="nav-link" href="/feedback_test/page3#hash">Link to page 3 + #hash</a></li>
    </ul>

  </div>
</div>
