<div class="example">

  <h1>Swapped video test</h1>

  <div id="content">
    <p>
      <a href="/swapped_video_test/without_video" up-target="#content" up-history="true">Go to page without video</a>
    </p>

    <video width="400" controls loop muted autoplay id="video" up-keep>
      <source src="/video.mp4" type="video/mp4">
    </video>
  </div>

</div>
