<div class="example">

  <h1>Swapped video test</h1>

  <div id="content">
    <p>
      <a href="/swapped_video_test/with_video" up-target="#content" up-history="true">Go to page with video</a>
    </p>

    <p>
      Page without video
    </p>
  </div>

</div>
