<h1>Content-Security-Policy (inline scripts require a nonce)</h1>

<h2>Setup</h2>

<ul>
  <li>Page was delivered with the CSP: <code><%= response.headers['Content-Security-Policy'] %></code></li>
</ul>

<h2>Expectations</h2>

<ul>
  <li>Unpoly boots</li>
  <li>The console shows <code>"hello from script with nonce"</code>.</li>
  <li>The console does <b>not</b> show <code>"hello from script without nonce"</code>. A CSP violation should be logged instead.</li>
</ul>

<script nonce="secret">
  console.log("hello from script with nonce")
</script>

<script>
  console.log("hello from script without nonce")
</script>

<h2>Eval nonced function</h2>

<script nonce="secret">
  up.compiler('.eval-nonced-function', function(element) {
    element.addEventListener('click', function() {
      let code = element.dataset.code
      console.log("Raw code is %o", code)
      let fn = up.util.safeFunction(code)
      let value = fn()
      console.log("Return value is %o", value)
    })
  })
</script>

<div class="btn btn-primary eval-nonced-function" data-code="nonce-secret console.log('attr evaled'); return 'return value from attr'">click me to eval with code-embedded nonce</div>
