<ul>
  <li><a href="page1" id="page1-body-link" up-target="body" up-history="true">Link to page1, replacing <code>body</code></a></li>
  <li><a href="page1" id="page1-content-link" up-target=".content" up-history="true">Link to page1, replacing <code>.content</code></a></li>
  <li><a href="page1" id="page1-content-link-instant" up-target=".content" up-history="true" up-instant>Link to page1, replacing <code>.content</code>, with <code>[up-instant]</code></a></li>
  <li><a href="page2" id="page2-body-link" up-target="body" up-history="true">Link to page2, replacing <code>body</code></a></li>
  <li><a href="page2" id="page2-content-link" up-target=".content" up-history="true">Link to page2, replacing <code>.content</code></a></li>
  <li><a href="page2" id="page1-content-link-instant" up-target=".content" up-history="true" up-instant>Link to page2, replacing <code>.content</code>, with <code>[up-instant]</code></a></li>
  <li><%= rand %></li>
</ul>
