<div class="example">

  <div class="content">
    This is the original content.
  </div>

  <hr>

  <p>
    <a class="link-primary" up-target=".content" up-content="This is new HTML via [up-content]">
      Update via [up-content]
    </a>
  </p>

  <p>
    <a class="link-primary" up-fragment="&lt;div class='content'&gt;This is new HTML via [up-fragment]&lt;/div&gt;">
      Update via [up-fragment]
    </a>
  </p>

</div>

