<div class="example">

  <% unless up? %>
    <h1>Fragment update test</h1>
  <% end %>

  <p class="before">Before from page2</p>

  <p class="content">Content from page2</p>

  <p class="before">After from page2</p>

  <%= render 'nav' %>

</div>

