<div class="example">

  <h1>Kept video test</h1>

  <div id="content">
    <p>Before from video1</p>

    <%= render 'video' %>

    <p>After from video1</p>

    <p>
      <a href="/replace_test/video2" up-target="#content">Go to video2</a>
    </p>
  </div>

  <div id="below">below</div>

</div>
