<script>
  var u = up.util;
  up.compiler('.clamped-open', function(link) {
    link.addEventListener('up:click', function(event) {
      event.preventDefault();
      u.task(function() {
        u.task(function() {
          u.task(function() {
            u.task(function() {
              u.task(function() {
                u.task(function() {
                  up.follow(link, {
                    duration: 1000,
                    layer: 'new modal',
                  });
                });
              });
            });
          });
        });
      });
    });
  });
</script>


<div class="fixed-top-bar" up-fixed="top">
  <a class="btn btn-primary" href="/css_test/popup_contents?1" up-layer="new popup" up-position="top" up-align="left">top/left popup</a>
  <a class="btn btn-primary" href="/css_test/popup_contents?2" up-layer="new popup" up-position="top" up-align="right">top/right popup</a>
  <a class="btn btn-primary" href="/css_test/popup_contents?3" up-layer="new popup" up-position="bottom" up-align="right">bottom/right popup</a>
  <a class="btn btn-primary" href="/css_test/popup_contents?4" up-layer="new popup" up-position="bottom" up-align="left">bottom/left popup</a>
</div>

<div class="spacer">
</div>

<div up-main="overlay">

  <% if up.layer.overlay? %>
    <div class="example">
      <span class="btn btn-info" up-accept='{ "key": [1, 2, 3] }'>Accept with JSON object</span>
    </div>
  <% end %>

  <div class="example">
    <div class="form-group">
      Text
      <a href="#">Link</a>
    </div>

    <div class="form-group">
      <label for="text-input">Text input label</label>
      <input class="form-control" type="text" name="text-input" id="text-input" placeholder="Text input">
    </div>

    <div class="form-group">
      <label for="select">Select label</label>
      <select class="form-control" name="select" id="select">
        <option value="">&lt;Select&gt;</option>
        <option>Option</option>
      </select>
    </div>

  </div>

  <div class="example">
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new modal">Modal</a>
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new modal" up-instant>Modal (instant)</a>
    <a class="btn btn-secondary clamped-open" href="/css_test/layer">Modal (clamped)</a>
    <a class="btn btn-primary" href="/css_test/modal_contents_short" up-layer="new modal" up-position="left">Modal (short content)</a>
  </div>

  <div class="example">
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new modal" up-size="small">Modal (small)</a>
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new modal" up-size="medium">Modal (medium)</a>
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new modal" up-size="large">Modal (large)</a>
    <a class="btn btn-primary" href="/css_test/modal_contents_short" up-layer="new modal" up-size="auto">Modal (auto)</a>
  </div>

  <div class="example">
    <a class="btn btn-primary" href="/css_test/modal_content_wide" up-layer="new modal">Modal (wide contents</a>
  </div>

  <div class="example">
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new cover" up-target=".contents">Cover</a>
    <a class="btn btn-primary" href="/css_test/modal_contents_short" up-layer="new cover" up-target=".contents">Cover (short content)</a>
  </div>

  <div class="example">
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new drawer" up-position="left">Drawer (left)</a>
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new drawer" up-position="right">Drawer (right)</a>
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new drawer" up-position="right" up-instant>Drawer (instant)</a>
    <a class="btn btn-primary" href="/css_test/modal_contents_short" up-layer="new drawer" up-position="left">Drawer (short content)</a>
  </div>

  <div class="example">
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new drawer" up-size="small">Drawer (small)</a>
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new drawer" up-size="medium">Drawer (medium)</a>
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new drawer" up-size="large">Drawer (large)</a>
    <a class="btn btn-primary" href="/css_test/modal_contents_short" up-layer="new drawer" up-size="auto">Drawer (auto)</a>
  </div>

  <div class="example">
    <a class="btn btn-primary" href="/css_test/popup_contents" up-layer="new popup">popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents" up-layer="new popup" up-instant>popup (instant)</a>
    <a class="btn btn-primary" href="/css_test/layer" up-layer="new popup" up-instant up-size="large">popup (nested)</a>
    <a class="btn btn-primary" up-layer="new popup" up-content="Inline popup content" href="#">popup (inline)</a>
  </div>


  <div class="example">
    <a class="btn btn-primary" href="/css_test/popup_contents" up-layer="new popup" up-size="small">Popup (small)</a>
    <a class="btn btn-primary" href="/css_test/popup_contents" up-layer="new popup" up-size="medium">Popup (medium)</a>
    <a class="btn btn-primary" href="/css_test/popup_contents" up-layer="new popup" up-size="large">Popup (large)</a>
    <a class="btn btn-primary" href="/css_test/modal_contents_short" up-layer="new popup" up-size="auto">Popup (auto)</a>
  </div>

  <div class="example">
    <a class="btn btn-primary" href="/css_test/popup_contents?5" up-layer="new popup" up-position="top" up-align="left">top/left popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?6" up-layer="new popup" up-position="top" up-align="center">top/center popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?7" up-layer="new popup" up-position="top" up-align="right">top/right popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?8" up-layer="new popup" up-position="right" up-align="top">right/top popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?9" up-layer="new popup" up-position="right" up-align="center">right/center popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?a" up-layer="new popup" up-position="right" up-align="bottom">right/bottom popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?b" up-layer="new popup" up-position="bottom" up-align="right">  bottom/right popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?c" up-layer="new popup" up-position="bottom" up-align="center">bottom/center popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?d" up-layer="new popup" up-position="bottom" up-align="left"> bottom/left popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?e" up-layer="new popup" up-position="left" up-align="bottom">left/bottom popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?f" up-layer="new popup" up-position="left" up-align="top">left/top popup</a>
    <a class="btn btn-primary" href="/css_test/popup_contents?g" up-layer="new popup" up-position="left" up-align="center">left/center popup</a>
  </div>

  <div class="example">
    <div id="viewport-without-position" up-viewport style="height: 125px; max-width: 500px; overflow-y: scroll; background-color: rgba(0,0,0,0.2)">
      <div class="spacer"></div>
      <a class="btn btn-primary" href="/css_test/popup_contents?8" up-layer="new popup" up-position="bottom">Popup within a viewport that has no position</a>
      <div class="spacer"></div>
    </div>
  </div>

  <div class="example">
    <div id="viewport-with-position" up-viewport style="height: 125px; width: max-500px; overflow-y: scroll; background-color: rgba(0,0,0,0.2); position: relative">
      <div class="spacer"></div>
      <a class="btn btn-primary" href="/css_test/popup_contents?8" up-layer="new popup" up-position="bottom">Popup within a viewport that has position</a>
      <div class="spacer"></div>
    </div>
  </div>


</div>
