<div class="example">

  <h1>Kept video test</h1>

  <div id="content">
    <p>Before from video2</p>

    <%= render 'video' %>

    <p>After from video2</p>

    <p>
      <a href="/kept_video_test/video1" up-target="#content">Go to video1</a>
    </p>
  </div>

</div>
