<% if up? %>
  <div id="link-target">
    This should not have updated as a fragment.
  </div>

  <div id="form-target">
    This should not have updated as a fragment.
  </div>
<% else %>
  Page was loaded as a full-page request (as expected).
<% end %>
